
@{
    ViewData["Title"] = "Index";
    
   
}


<div class="text-center" style="margin-top: 7rem;">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="~/BiciExcel/" style="text-decoration: underline;" class="text-primary">Goods</a>
        </li>
        <li class="list-group-item">
            <a href="~/BiciTypeExcel/" style="text-decoration: underline;" class="text-primary">BiciTypes</a>
        </li>
        <li class="list-group-item">
            <a href="~/HandlePhaseExcel/" style="text-decoration: underline;" class="text-primary">Handle Phases</a>
        </li>
        <li class="list-group-item">
            <a href="~/OrderExcel/" style="text-decoration: underline;" class="text-primary">Orders</a>
        </li>

    </ul>
</div>

