

<div style="margin-top: 7rem;">
    <h1>Export/Import Handle Phase</h1>
    <form method="post" action="~/HandlePhaseExcel/ExportToExcel">
        <input type="submit" value="Export" class="btn btn-primary" />
    </form>
</div>
